<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- BrowserStack configurations -->
  <configSections>
    <sectionGroup name="capabilities">
      <section name="windows10" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="windows7" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="insperity.local" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    <sectionGroup name="environments">
      <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="firefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="safari" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ie" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ie-11" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="user" value="weiyuxu1" />
    <add key="key" value="Ej9CBVGTdzYAbfJaEfUY" />
    <add key="server" value="hub-cloud.browserstack.com" />
    <add key="RanorexAutomationRootPath" value="C:\Automation" />
    <add key="ASFConfigsRootFolder" value="C:\Automation\ASFConfigfiles" />
    <add key="SeleniumAutomationRootPath" value="C:\AutomationNext" />
    <add key="SeleniumAutomationSERootPath" value="C:\AutomationSE" />
    <add key="RanorexBuildRootPath" value="\\brvfstfsp01\Build\Drop\InsperityAutomation32bit" />
    <add key="SeleniumBuildRootPath" value="\\brvfstfsp01\Build\Drop\InsperityAutomationNext" />
    <add key="BuildCopyExcludedfilesList" value="buildcopyexcludedfileslist.txt" />
    <add key="EnvironmentConfigjsonPath" value="C:\Automation" />
    <add key="OnDemandRunDataFilesRootPath" value="K:\QAAUTOMATION\AutomationOnDemandRun\Data" />
    <add key="OnDemandRunTestSuiteFilesPath" value="K:\QAAUTOMATION\AutomationOnDemandRun\TestSuites" />
    <add key="DailyRunScheduleStartTime" value="6" />
    <add key="ChromeWithOptions" value="1" /> <!--0- off, 1- on-->
    <add key="IsDailyRunOn" value="false" />
    <add key="IsDebugOn" value="yes" />
    <!--yes or no-->
    <add key="KillProcess" value="true" />
    <!--yes or no-->
    <add key="FromEmail" value="KWETSQAAutobots@insperity.com" />
    <add key="AutomationServerNames" value="NSL-5CG725344X,NSL-5CG8301SJR,NSL-5CG8433Y50,NSV-BTISQA01,NSV-BTISQA02,NSV-BTISQA03,NSV-BTISQA04,          NSV-WAUTO-01,NSL-5CG65219VZ,5CG725344X,5CG8301SJR,5CG8433Y50,BTISQA01,BTISQA02,BTISQA03,BTISQA04,WAUTO-01,5CG65219VZ,5cg725344x,5cg8301Sjr,5cg8433y50,btisqa01,btisqa02,btisqa03,btisqa04,wauto-01,5cg65219vz" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RunAgainstEnvironment" value="dev" />
    <add key="isPremierAccountCreationRequired" value="false" />
    <!--Admin User for Priming in 'DEV' Environment-->
    <add key="devAdminUserName" value="dev3574453" />
    <add key="devAdminUserPassword" value="Insperity1" />
    <add key="devAdminUserSecurityQnAns" value="" />
    <add key="devAdminUserPerId" value="3574453" />
    <!--Admin User for Priming in Butterfly 'DEV' Environment-->
    <add key="bf-devAdminUserName" value="dev3574453" />
    <add key="bf-devAdminUserPassword" value="Insperity1" />
    <add key="bf-devAdminUserSecurityQnAns" value="" />
    <add key="bf-devAdminUserPerId" value="3574453" />
    <!--Admin User for Priming in 'TEST' Environment-->
    <add key="testAdminUserName" value="test3403575" />
    <add key="testAdminUserPassword" value="Insperity1" />
    <add key="testAdminUserSecurityQnAns" value="" />
    <add key="testAdminUserPerId" value="3403575" />
    <!--Admin User for Priming in Butterfly 'test' Environment-->
    <add key="bf-testAdminUserName" value="test3403575" />
    <add key="bf-testAdminUserPassword" value="Insperity1" />
    <add key="bf-testAdminUserSecurityQnAns" value="" />
    <add key="bf-testAdminUserPerId" value="3403575" />
    <!--Admin User for Priming in 'stage' Environment-->
    <add key="stageAdminUserName" value="stageadmin" />
    <add key="stageAdminUserPassword" value="Insperity1" />
    <add key="stageAdminUserSecurityQnAns" value="" />
    <add key="stageAdminUserPerId" value="3403575" />
    <!--Admin User for Priming in butterfly 'stage' Environment-->
    <add key="bf-stageAdminUserName" value="stageadmin" />
    <add key="bf-stageAdminUserPassword" value="Insperity1" />
    <add key="bf-stageAdminUserSecurityQnAns" value="" />
    <add key="bf-stageAdminUserPerId" value="3403575" />
    <!--RESERVED FOR FUTURE USE - Admin User for Priming in 'Prod'  Environment-->
    <add key="prod1AdminUserName" value="eautoadminstage" />
    <add key="prod1AdminUserPassword" value="Insperity123$" />
    <add key="prod1AdminUserSecurityQnAns" value="" />
    <add key="prod1AdminUserPerId" value="2813605" />
    <!--db Server Names by Environment-->
    <add key="prod1DBConnectString" value="BRVDBSQLPL100" />
    <add key="bf-testDBConnectString" value="wdvdbsqlt100" />
    <add key="bf-devDBConnectString" value="WDVDBSQLD100" />
    <add key="bf-stageDBConnectString" value="HADBSQLSL100" />
    <add key="testDBConnectString" value="kwhdbsqlt13" />
    <add key="devDBConnectString" value="kwhdbsqld13" />
    <add key="stageDBConnectString" value="kwhdbsqls13" />
    <!--Self Launch Form - Veteran-->
    <add key="VetsAdminClientId" value="3857700" />
    <add key="VetsAdminUserName" value="test3129357" />
    <add key="VetsAdminUserPassword" value="Insperity1" />
    <add key="VetsAdminUserSecurityQnAns" value="" />
    <add key="VetsAdminUserPerId" value="2748454" />
    <add key="VetsAdminUserSSN" value="630868842" />
    <!--Self Launch Form - State Tax-->
    <add key="StateTaxFormsEmployeeUserid" value="3081220NewYorkEE" />
    <add key="StateTaxFormsEmployeeUserPassword" value="Password1" />
    <add key="StateTaxFormsEmployeeSecurityQnAns" value="" />
    <add key="StateTaxFormsEmployeePerId" value="3081220" />
    <add key="StateTaxFormsEmployeeSSN" value="" />
    <add key="IsTestCaseFlow" value="yes" />
    <add key="MarsOfeValidation" value="no" />
    <add key="TCWithIndivDbConfig" value="240225,531547,558957,378206,378205,378208,378209,378210" />
    <add key="JwttestAdminUserName" value="test356135" />
    <add key="JwttestAdminUserPassword" value="Insperity1" />
    <add key="JwttestAdminUserSecurityQnAns" value="" />
    <add key="JwtdevAdminUserName" value="dev356135" />
    <add key="JwtdevAdminUserPassword" value="Insperity1" />
    <add key="JwtdevAdminUserSecurityQnAns" value="" />
    <add key="JwtstageAdminUserName" value="delorean_stage356135" />
    <add key="JwtstageAdminUserPassword" value="Insperity1" />
    <add key="JwtstageAdminUserSecurityQnAns" value="" />
    <add key="JwttestInfinityAdminUserName" value="test3245232" />
    <add key="JwttestInfinityAdminUserPassword" value="Insperity1" />
    <add key="JwttestInfinityAdminUserSecurityQnAns" value="" />
    <add key="JwtdevInfinityAdminUserName" value="test3245232" />
    <add key="JwtdevInfinityAdminUserPassword" value="Insperity1" />
    <add key="JwtdevInfinityAdminUserSecurityQnAns" value="" />
    <add key="JwtstageInfinityAdminUserName" value="test3245232" />
    <add key="JwtstageInfinityAdminUserPassword" value="Insperity1" />
    <add key="JwtstageInfinityAdminUserSecurityQnAns" value="" />
    <add key="testVetsAdminClientId" value="3857700" />
    <add key="testVetsAdminUserName" value="test3129357" />
    <add key="testVetsAdminUserPassword" value="Insperity1" />
    <add key="testVetsAdminUserSecurityQnAns" value="" />
    <add key="testVetsAdminUserPerId" value="3129357" />
    <add key="testVetsAdminUserSSN" value="416-83-3951" />
    <add key="stageVetsAdminClientId" value="3857700" />
    <add key="stageVetsAdminUserName" value="test3129357" />
    <add key="stageVetsAdminUserPassword" value="Insperity1" />
    <add key="stageVetsAdminUserSecurityQnAns" value="" />
    <add key="stageVetsAdminUserPerId" value="3129357" />
    <add key="stageVetsAdminUserSSN" value="416-83-3951" />
    <add key="devVetsAdminClientId" value="3857700" />
    <add key="devVetsAdminUserName" value="test3129357" />
    <add key="devVetsAdminUserPassword" value="Insperity1" />
    <add key="devVetsAdminUserSecurityQnAns" value="" />
    <add key="devVetsAdminUserPerId" value="3129357" />
    <add key="devVetsAdminUserSSN" value="416-83-3951" />
    <add key="bf-devVetsAdminClientId" value="3857700" />
    <add key="bf-devVetsAdminUserName" value="test3129357" />
    <add key="bf-devVetsAdminUserPassword" value="Insperity1" />
    <add key="bf-devVetsAdminUserSecurityQnAns" value="" />
    <add key="bf-devVetsAdminUserPerId" value="3129357" />
    <add key="bf-devVetsAdminUserSSN" value="416-83-3951" />
    <add key="bf-testVetsAdminClientId" value="3857700" />
    <add key="bf-testVetsAdminUserName" value="test3129357" />
    <add key="bf-testVetsAdminUserPassword" value="Insperity1" />
    <add key="bf-testVetsAdminUserSecurityQnAns" value="" />
    <add key="bf-testVetsAdminUserPerId" value="3129357" />
    <add key="bf-testVetsAdminUserSSN" value="416-83-3951" />
    <add key="bf-stageVetsAdminClientId" value="3857700" />
    <add key="bf-stageVetsAdminUserName" value="test3129357" />
    <add key="bf-stageVetsAdminUserPassword" value="Insperity1" />
    <add key="bf-stageVetsAdminUserSecurityQnAns" value="" />
    <add key="bf-stageVetsAdminUserPerId" value="3129357" />
    <add key="bf-stageVetsAdminUserSSN" value="416-83-3951" />
    <add key="devStateTaxFormsEmployeeUserid" value="3081220NewYorkEE" />
    <add key="devStateTaxFormsEmployeeUserPassword" value="Password1" />
    <add key="devStateTaxFormsEmployeeSecurityQnAns" value="" />
    <add key="devStateTaxFormsEmployeePerId" value="3081220" />
    <add key="devStateTaxFormsEmployeeSSN" value="" />
    <add key="testStateTaxFormsEmployeeUserid" value="3081220NewYorkEE" />
    <add key="testStateTaxFormsEmployeeUserPassword" value="Password1" />
    <add key="testStateTaxFormsEmployeeSecurityQnAns" value="" />
    <add key="testStateTaxFormsEmployeePerId" value="3081220" />
    <add key="testStateTaxFormsEmployeeSSN" value="" />
    <add key="stageStateTaxFormsEmployeeUserid" value="3081220NewYorkEE" />
    <add key="stageStateTaxFormsEmployeeUserPassword" value="Password1" />
    <add key="stageStateTaxFormsEmployeeSecurityQnAns" value="" />
    <add key="stageStateTaxFormsEmployeePerId" value="3081220" />
    <add key="stageStateTaxFormsEmployeeSSN" value="" />
    <add key="bf-devStateTaxFormsEmployeeUserid" value="3081220NewYorkEE" />
    <add key="bf-devStateTaxFormsEmployeeUserPassword" value="Password1" />
    <add key="bf-devStateTaxFormsEmployeeSecurityQnAns" value="" />
    <add key="bf-devStateTaxFormsEmployeePerId" value="3081220" />
    <add key="bf-devStateTaxFormsEmployeeSSN" value="" />
    <add key="bf-testStateTaxFormsEmployeeUserid" value="3081220NewYorkEE" />
    <add key="bf-testStateTaxFormsEmployeeUserPassword" value="Password1" />
    <add key="bf-testStateTaxFormsEmployeeSecurityQnAns" value="" />
    <add key="bf-testStateTaxFormsEmployeePerId" value="3081220" />
    <add key="bf-testStateTaxFormsEmployeeSSN" value="" />
    <add key="bf-stageStateTaxFormsEmployeeUserid" value="3081220NewYorkEE" />
    <add key="bf-stageStateTaxFormsEmployeeUserPassword" value="Friday1212" />
    <add key="bf-stageStateTaxFormsEmployeeSecurityQnAns" value="" />
    <add key="bf-stageStateTaxFormsEmployeePerId" value="3081220" />
    <add key="bf-stageStateTaxFormsEmployeeSSN" value="" />
  </appSettings>
  <capabilities>
    <insperity.local>
      <!--add key="build" value="insperity-browserstack" /-->
      <add key="name" value="insperity.local" />
      <add key="browserstack.debug" value="true" />
      <add key="browserstack.local" value="true" />
      <add key="local.debug" value="true" />
    </insperity.local>
    <windows10>
      <add key="build" value="insperity-windows10-OEE_AutobotsH" />
      <add key="name" value="windows10" />
      <add key="browserstack.debug" value="true" />
      <add key="browserstack.local" value="true" />
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
    </windows10>
    <windows7>
      <!--add key="build" value="insperity-browserstack" /-->
      <add key="name" value="windows7" />
      <add key="browserstack.debug" value="true" />
      <add key="browserstack.local" value="true" />
      <add key="os" value="Windows" />
      <add key="os_version" value="7" />
    </windows7>
  </capabilities>
  <environments>
    <chrome>
      <add key="browser" value="chrome" />
      <add key="browser_version" value="84.0" />
    </chrome>
    <firefox>
      <add key="browser" value="firefox" />
    </firefox>
    <safari>
      <add key="browser" value="safari" />
      <add key="browser_version" value="12.0" />
      <add key="os" value="OS X" />
      <add key="os_version" value="Mojave" />
    </safari>
    <ie>
      <add key="browser" value="ie" />
      <add key="browser_version" value="11.0" />
    </ie>
    <ie-11>
      <add key="browser" value="ie" />
      <add key="browser_version" value="11.0" />
    </ie-11>
  </environments>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <!--runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime-->
  <!-->startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Scripting" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Dynamic" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWorkerOnBoarding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://stage1wsmq.administaff.com/CHCPortfolioSvc/WorkerOnBoarding.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkerOnBoarding" contract="TimeStarOnboarding.IWorkerOnBoarding" name="BasicHttpBinding_IWorkerOnBoarding" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Test" connectionString="data source=wdvdbsqld100\Instance1;initial catalog=QATestAutomation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QATestAutomationDatabase" connectionString="data source=KWHDBSQLD13\Instance1;initial catalog=QATestAutomation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QATestAutomationTestTable" connectionString="data source=KWHDBSQLD13\Instance1;initial catalog=QATestAutomation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QATestAutomationWeiyu" connectionString="data source=KWHDBSQLD13\Instance1;initial catalog=QATestAutomation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OeeAutoScriptsRunEmployeeData" connectionString="data source=KWHDBSQLD13\Instance1;initial catalog=QATestAutomation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QATestAutomationEntities" connectionString="metadata=res://*/AutomationRunJobQueueModel.csdl|res://*/AutomationRunJobQueueModel.ssdl|res://*/AutomationRunJobQueueModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KWHDBSQLD13\Instance1;initial catalog=QATestAutomation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QATestAutomationEntities1" connectionString="metadata=res://*/Data.QATestAutomation.csdl|res://*/Data.QATestAutomation.ssdl|res://*/Data.QATestAutomation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wdvdbsqld100\instance1;initial catalog=QATestAutomation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QATestAutomationEntities2" connectionString="metadata=res://*/Data.Models.OeeAutoScriptsRunEmployeeData.csdl|res://*/Data.Models.OeeAutoScriptsRunEmployeeData.ssdl|res://*/Data.Models.OeeAutoScriptsRunEmployeeData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KWHDBSQLD13\Instance1;initial catalog=QATestAutomation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QATestAutomation" connectionString="data source=KWHDBSQLD13\Instance1;initial catalog=QATestAutomation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QaTestAutoamtion" connectionString="data source=KWHDBSQLD13\Instance1;initial catalog=QATestAutomation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
